@import "units";

/// @group maps
$breakpoints: (
  xs: 320,
  lg: 1200
);

$breakpoints-max-offset: 0.00125em;

@function breakpoint($breakpoint-name) {
  @return map-get($breakpoints, $breakpoint-name);
}

@mixin add-breakpoint($name, $viewport-width, $breakpoints: $breakpoints) {
  // From sass-mq
  $new-breakpoint: (
    $name: $viewport-width
  );
  $mq-breakpoints: map-merge($breakpoints, $new-breakpoint);
  // SASS-MQ sorts the breakpoints by ascending order. Not sure of the gain here?
}

/// @group functions
@function from($breakpoint, $breakpoints: $breakpoints) {
  @if type-of($breakpoint) == "string" {
    @return from(map-get($breakpoints, $breakpoint));
  }

  @return "(min-width: #{em($breakpoint)})";
}

@function until($breakpoint, $breakpoints: $breakpoints) {
  @if type-of($breakpoint) == "string" {
    @return until(map-get($breakpoints, $breakpoint));
  }

  @return "(max-width: #{em($breakpoint) - em($breakpoints-max-offset)})";
}

@function between($from, $until, $breakpoints: $breakpoints) {
  $from-mq: from($from, $breakpoints);
  $until-mq: until($until, $breakpoints);

  @return "#{$from-mq} and #{$until-mq}";
}

/// @group mixins
// Media query mixin?
