@import "units";
@import "map";

/// @group maps
$breakpoints: (
  xs: 320,
  lg: 1200
);

$breakpoints-max-offset: 0.00125em;

@function breakpoint($breakpoint-name) {
  @return map-get($breakpoints, $breakpoint-name);
}

@function set-breakpoint($name, $viewport-width, $breakpoints: $breakpoints) {
  @return map-set($breakpoints, $name, $viewport-width, $sort: true);
}

/// @group functions
@function from($breakpoint, $breakpoints: $breakpoints) {
  @if type-of($breakpoint) == "string" {
    @return from(map-get($breakpoints, $breakpoint));
  }

  @return "(min-width: #{em($breakpoint)})";
}

@function until($breakpoint, $breakpoints: $breakpoints) {
  @if type-of($breakpoint) == "string" {
    @return until(map-get($breakpoints, $breakpoint));
  }

  @return "(max-width: #{em($breakpoint) - em($breakpoints-max-offset)})";
}

@function between($from, $until, $breakpoints: $breakpoints) {
  $from-mq: from($from, $breakpoints);
  $until-mq: until($until, $breakpoints);

  @return "#{$from-mq} and #{$until-mq}";
}

/// @group mixins
@mixin set-breakpoint($name, $value) {
  $breakpoints: add-breakpoint($name, $value) !global;
}
// Media query mixin?
