@import "mapping";
@import "map";
@import "breakpoints";

@mixin responsive-mapping($values, $mapping: null, $breakpoints: $breakpoints) {
  $breakpoint-type: from;
  $from-breakpoints: map-pick(
    $breakpoints,
    map-get($mapping, $breakpoint-type)
  );
  $from-breakpoints: map-map($from-breakpoints, $breakpoint-type);
  @include mapping(
    $values,
    $from-breakpoints,
    (
      breakpoint-type: $breakpoint-type
    )
  ) {
    @content;
  }
}
